/*
    You can add your own custom styles here.
*/

/* Particles background */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Show article count next to each term in the category/tag cloud widgets */
.tagCloud-tags a .tagCloud-count {
    margin-left: 9px;
    font-size: 1.1rem;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1px 5px;
    line-height: 1;
}
